body {
    font-family: 'Sono', 'sans-serif';
    background-color: #bee2e7;
}


.main-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.pricing-range {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    transition: box-shadow .3s;
    transform: scale(1.1); 
     width: 300px;
  height: 500px;
  margin: 50px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  
}
.two{
    height: 400px;
}
.pricing-range:hover {
    box-shadow: 0 0 11px rgba(33,33,33,2); 
  }

.plan-head {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.price {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 15px;
}

.features {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.features li {
    margin-bottom: 15px;
}

.plan-button {
    background-color: #35c465;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}
fieldset{
    border: 1px solid #1dac4a;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}



@media (max-width: 1024px) {
    .main-container {
        flex-direction: column;
        width: 100%;
      }
      h1,h2{
        text-align: center;
      }
}